body{  
	background:grey; 
	padding: 20px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background:blue; 
}
td {
	width: 11vh;
   	height: 11vh;
    border: 3px solid black;

}

.circle {
	width: 7vh;
	height: 7vh;
	border-radius: 50%;
	background: black;
}
