body{  
	background:grey; 
	padding: 20px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background:blue; 
}
td {
	width: 11vh;
   	height: 11vh;
    border: 3px solid black;
}



/*
 * 
 *
 *tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
 *    background: white;
 *} 
 */
