body {
	background:grey; 
	padding: 20px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background: black;
}
td {
    width: 40px; height: 40px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background: white;
}
